.lbsTooltip
{
	background:#fff;
	border: none;
	z-index: 99;
	text-align: left;
	text-indent: 0;
	-moz-box-shadow: 2px 2px 0px #640000 !important;
}

.lbsTooltip div
{
	text-align: left;
}

.lbsTooltipHeader
{
	background: #B10505;
	color: #fff;
	font-weight:bold;
	font-size:15px;
	line-height: 18px;
	font-family:Arial,Helvetica,serif;
	margin: 0;
	padding:4px;
	position:relative;
	border: 0;
	text-shadow: 2px 2px 0px #740000;
}

.lbsTooltipBody 
{
	padding: 4px 8px 0 8px;
	margin:0;
	position:relative;
	z-index: 2;
	border: 0;
	line-height:16px;
}

.lbsTooltipBody p, .lbsTooltipBody span
{
	display: inline;
	color: black;
	font-family:Arial,Helvetica,serif;
	font-size: 14px;
	line-height:16px;
}

.lbsTooltipFooter
{
	font-size:11px;
	font-family:Helvetica,Arial,serif;
	bottom:4px;
	margin-top: 4px;
	position:absolute;
	text-align:right;
	border: 0;
}

.lbsTooltipFooter a:link, .lbsTooltipFooter a:visited, .lbsTooltipFooter a:hover 
{
    background: #eee;
    padding: 3px;
	color: #B10505;
	text-decoration: none;
	font-weight: normal;
	font-size:11px;
	font-family:Helvetica,Arial,serif;
}

.lbsTooltipFooter div
{
	text-align:right;
}


.lbsTooltipBody .ch-ref, .lbsTooltipBody .verse-ref
{
	font-size: 85%;
	top: -1px;
	position: relative;
}

.lbsTooltipBody .ch-ref
{
	font-weight: bold;
}

.lbsTooltipBody .verse-ref
{
	color: dimgray;
}

.lbsTooltip, .lbsTooltipBody span, .lbsTooltip a, .lbsTooltipBody p
{
	margin: 0;
	padding: 0;
}

.lbsLibronix img
{
	float: none !important;
}
.post p a {
	background: #eee;
	padding: 2px 5px;
	text-shadow: 0px 1px 1px #fff;
}
.post-content h3 {
	font-weight: bold;
}
div.quote-source {
	padding: 20px 0;
	border-top: 2px solid #ccc;
}